# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
cmd/audio-notes/venv
*.env
*.env.*          

# Go
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# VSCode / editor
.vscode/
.idea/
*.swp
.DS_Store

# macOS
*.DS_Store

# virtual environment (virt)
virt/

# audio files
.mp3